.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.bgg-dark {
  background-color: #282c34 !important;
}

.bgg-light {
  background-color: #61dafb !important;
}

.fgg-dark {
  color: #282c34 !important;
}

.fgg-light {
  color: #61dafb !important;
}

.borderr {
  border: 1px solid #61dafb !important;
}

.borderr-bottom {
  border-bottom: 1px solid #61dafb !important;
}

.text-12 {
  font-size: 12px !important;
}

.text-14 {
  font-size: 14px !important;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
